/* Estilos para hacer que el elemento .lds-ripple se sobreponga a toda la página */
.lds-ripple {
    position: fixed; /* Posición fija para cubrir toda la ventana */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho igual al ancho de la ventana */
    height: 100vh; /* Alto igual al alto de la ventana */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
    display: flex; /* Para centrar el contenido verticalmente */
    justify-content: center; /* Para centrar el contenido horizontalmente */
    align-items: center; /* Para centrar el contenido verticalmente */
}

/* Ajustes adicionales para el .lds-ripple */
.lds-ripple {
    display: inline-block;
    z-index:9999;
    height: 100vh;
    width: 100vw;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    top: 100px;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 1, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 435px;
        left: 935px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 435px;
        left: 935px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 435px;
        left: 935px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 400px;
        left: 900px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
